<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Write a new entry</title>
</head>
<body>
    <h2>write your entry</h2>
    <form method ="post">
        <div>
            <label for="title">Title</label>
            <input name="title" type="text" autocomplete="off"/>
        </div>
        <div>
            <label for="entry">Entry</label> 
            <input name="entry" type="text" autocomplete="off"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>